---
import Layout from '../layouts/Layout.astro';
import { Picture } from 'astro:assets';
import coastalChicagoLogo from '../images/coastal-chicago-logo.png';
import chicagoBotDogLogo from '../images/chicago-bot-dog-logo.png';
---

<Layout title="Coastal Chicago LLC">
	<main class="container">
	<Picture src={coastalChicagoLogo} alt="The Coastal Chicago LLC logo."/>
	<div class='horizontal-line'></div>
	<div class='horizontal-line'></div>
	<div class="tagline">
		Straightforward solutions for your complex technology and organizational issues.
	</div>
	<div class="blog">
		<div>Find our blog at</div>
		<a href="https://chicagobotdog.com">
		<Picture src={chicagoBotDogLogo} alt="Chicago Bot Dog blog." 
			width={300}/> 
		</a>
	</div>
	<div class="contact">
		Contact us at 
		<script type="text/javascript">
			user = 'info+website';
			site = 'coastalchicago.com';
			document.write('<a href=\"mailto:' + user + '@' + site + '\">');
			document.write(user + '@' + site + '</a>');
		</script>
	</div>
	</main>
</Layout>
