---
import Layout from '../layouts/Layout.astro';
import { Picture } from 'astro:assets';
import coastalChicagoLogo from '../images/coastal-chicago-logo.png'
---

<Layout title="Coastal Chicago LLC">
	<main class="container-fluid">
	<Picture src={coastalChicagoLogo} alt="The Coastal Chicago LLC logo." />
	<div class='horizontal-line'></div>
	<div class='horizontal-line'></div>
	</main>
</Layout>
