---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import coastalChicagoLogo from '../images/coastal-chicago-logo.png'
---

<Layout title="Coastal Chicago LLC">
	<main>
	<Image src={coastalChicagoLogo} alt="The Coastal Chicago LLC logo." />
	</main>
</Layout>
